# App Defaults
APP_DEFAULT_THEME_MODE=automatic
APP_DEFAULT_LANGUAGE=en
APP_DEFAULT_NOTIFICATIONS_ENABLED=true

# Powersync
EXPO_PUBLIC_POWERSYNC_URL=http://127.0.0.1:8080

# Supabase
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
